
<template>
    <div>

        <div>
            <h3>{{curQuestion.question}} </h3>
            <!-- Show question -->
            <ul v-for="(answer, index) in curQuestion.answers" :key="index">
                <button id="hide-seen"  @click="onChooseAnswer(answer.id)"  >
                    {{ answer.text }} 
                </button>
            </ul>
        </div>
    </div>
</template>


<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'

export default{
    name: 'QuestionScreen',
    methods: {
        ...mapActions(['fetchQuestions', 'nexQuestion', 'resetAll']),
        ...mapMutations(['setHighScore', "setUserAnswers"]), // 
        
        // Button click -> get answer id
        onChooseAnswer(answer){
            this.setUserAnswers(answer)
            if(answer === 0) { 
                this.setHighScore() 
            }
            if(this.getQuestionIndex < this.getMaxNrOfQuestions)
            {
                
                this.nexQuestion()
            }
            else {
                this.resetAll()
                this.$router.push('/resultscreen')
            }
        },
    },
    computed: { 
        ...mapGetters(['getOneQuestion', "getQuestionIndex", "getMaxNrOfQuestions", "getLink"
        ]),
        // declare and set variable for curQuestion
        curQuestion() {return this.$store.getters.getOneQuestion},
        
    },
    created() {
        this.fetchQuestions()
    }
}
</script>

<style scoped>

</style>