<template>
    <div>
        <button @click="onStartScreenClick">Start Screen</button>
        <button @click="onReplayClick">Replay with same Question type</button>
        <h4>HighScore: {{highScore}}</h4>
        <!-- Questions array -->
        <div v-for="(question, index) in allQuestion" :key="index">
            <!-- Question text -->
            {{ question.question }}
            <ul v-for="answer in question.incorrect_answers" :key="answer.id">
                <!-- if correct GREEN, if user answer and now same as correct answer RED, else normal -->
                <span v-if="answer.id===0" :style="{color: ' #4CAF50'}"> {{ answer.text }}  </span>
                <span v-else-if="answer.id===allAnswers[index]" :style="{color: ' #f67e7e'}" > ✖ {{ answer.text }}   </span>
                <span v-else  > {{ answer.text }}   </span>
            </ul>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default{
    name: 'ResultScreen',
    methods: {
        ...mapActions(['saveHighScore']),
        onStartScreenClick(){
            this.$router.push('/')
        },
        // Play again with same options
        async onReplayClick(){
            this.$router.push('/questionscreen')
        },
    },
    computed: { 
        ...mapGetters(['getAllQuestion', 'getAllAnswers', 'getHighScore'
        
        ]),
        // get variable from store.js
        allQuestion() {return this.$store.getters.getAllQuestion},
        allAnswers() {return this.$store.getters.getAllAnswers},
        highScore() {return this.$store.getters.getHighScore}
    },
    created() {
        this.saveHighScore()
    }
}
</script>

<style scoped>

</style>