<template>

<div>
    <!--form for user register/login and select the difficulty, number of questions and category-->
    
    <form @submit.prevent="onSubmit">
        <fieldset>
            <!--username for urser registration/login-->
            <label for="username" aria-label="Username" >Username: </label>
            <input 
            type="text" 
            id="username"
            v-model="username">
            <br><br>

            <!--User select number of question in game -->
            <label for="numbquestion" aria-label="Select Number of Questions">Select Number of Questions: </label>
            <input 
            type="number" 
            id="numbquestion" 
            min="1" 
            max="50" 
            v-model="numbquestion"> 
            <br><br>

            <!--User select the difficulty of the game-->
            <label for="difficulty" aria-label="Select Difficulty">Select Difficulty: </label>
            <select id="difficulty" v-model="difficulty">
                <option value="" selected> Any Difficulty </option>
                <option value="easy"> Easy </option> 
                <option value="medium"> Medium </option> 
                <option value="hard">Hard</option>  
            </select><br><br>

            <!--User select the category of the game-->
            <label>Select Category: </label>
            <select id="category"  aria-label="Select Category" v-model="category"> 
                 <option value="" selected> Any Difficulty </option>
                 <option value="9">General Knowledge</option>
                 <option value="10">Entertainment: Books </option>
                 <option value="11">Entertainment: Film</option>
                 <option value="12">Entertainment: Music</option>
                 <option value="13">Entertainment: Musicals & Theatres</option>
                 <option value="14">Entertainment: Television </option>
                 <option value="15">Entertainment: Video Games</option>
                 <option value="16">Entertainment: Board Games</option>
                 <option value="17"> Science & Nature Science</option>
                 <option value="18"> Computers Science</option>
                 <option value="19">Mathematics</option>
                 <option value="20">Mythology</option>
                 <option value="21">Sports</option>
                 <option value="22">Geography</option>
                 <option value="23">History</option>
                 <option value="24">Politics</option>
                 <option value="25">Art</option>
                 <option value="26">Celebrities</option>
                 <option value="27">Animals</option>
                 <option value="28">Vehicles</option>
                 <option value="29">Entertainment: Comics</option>
                 <option value="30">Science Gadgets</option>
                 <option value="31">Entertainment: Japanese & Anime  Manga</option>
                 <option value="32">Entertainment: Cartoon & Animations</option>
                 <!-- Make function to get all categories -->
                <!--<option v-for="category in categorys" :key="category.id"> {{ category.name }} </option>-->    
            </select><br><br>
            <button @click="onPlayClick">Play</button>
        </fieldset>
    </form>
    
</div>

</template>

<script>
import { mapActions, mapMutations} from 'vuex'
import ClickOutside from 'vue-click-outside'

export default{
    name: 'StartScreen',
    data() {
        username: ''
        numbquestion: ''
        difficulty:''
        category: ''
    },
    methods: {
        ...mapActions(['fetchCategories','fetchquestionLinkOption', 'loginUser']),
        ...mapMutations(['setUsername','setQuestionLinkOption']),
        

        async onSubmit() {
            
            // to-do check if works
            this.loginUser(this.username)

            //Validation, if user have not selected any option set default value
            //If Number of question nt selected, set default = 10
            if(!this.numbquestion) {
                this.numbquestion = 10
            }
            //If Category is not selected, set default epmty=random
            if(!this.category) {
                this.category = ""
            }
            //If Difficulty is not selected, set default epmty=random
            if(!this.difficulty) {
                this.difficulty = ""
            }
            
            // setup API based on selected values from user
            this.makeLink(this.numbquestion, this.category, this.difficulty)
        },
        makeLink(amount = 10, category = "", difficulty = "", type = "", encode = ""){

            let questionLinkOption = "https://opentdb.com/api.php?amount=" + amount + "&category=" + category +
        "&difficulty=" + difficulty + "&type=" + type + "&encode=" + encode;
            
            this.setQuestionLinkOption(questionLinkOption);
        }, 
        
        //event fires when the user clicks on the Play button in the Form
        async onPlayClick(){
            //OnSubmit event fires when the user clicks on the Submit button in the Form
            this.onSubmit()
            //send uer to QuestionScreen and the game is started
            this.$router.push('/questionscreen')
        }, 
    },
    
}
</script>

<style scoped>

</style>